name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Did you Make your own tests.
      id: did-you-make-your-own-tests
      uses: classroom-resources/autograding-python-grader@v1
      with:
        timeout: 10
        setup-command: ''
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        DID-YOU-MAKE-YOUR-OWN-TESTS_RESULTS: "${{steps.did-you-make-your-own-tests.outputs.result}}"
      with:
        runners: did-you-make-your-own-tests
